<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donar</title>
</head>
<body>
    <form action="/donaciones/" method="Post">
        <input name="nombre" type="text" placeholder="Nombres">
        <input name="apellido" type="text" placeholder="Apellidos">
        <input name="monto" type="number" placeholder="Monto">
        <textarea name="mensaje" placeholder="Escriba su mensaje"></textarea>
        <input type="submit" value="Enviar">
    </form>

</body>
</html>